# Install torch manually first:
#   pip install torch --index-url https://download.pytorch.org/whl/cu126
transformers>=4.48.2
datasets
evaluate
rouge_score
tensorflow
pyyaml
tqdm
scikit-learn
numpy
bitsandbytes
